*{
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.main_box{
  background: url("photo.jpg");
  height: 100vh;
  background-size: cover;
}

.btn_one{
  color: white;
  font-size: 30px;
  font-weight: bold;
  position: absolute;
  left: 16px;
  line-height: 60px;
}
.sidebar_menu{
  position: fixed;
  /* left: -300px; */
  height: 100vh;
  width:300px;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 6px rgba(255, 255, 255, 0.5);

}
.sidebar_menu .logo{
  position: absolute;
  width: 100%;
  line-height: 60px;
  box-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
}

.sidebar_menu .logo a {
  position: absolute;
  left: 50px;
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
}

.sidebar_menu .btn_two{
color: grey;
font-size: 25px;
line-height: 60px;
position: absolute;
left: 275px;
opacity: 0;
}

.sidebar_menu .menu {
  position: absolute;
  width: 100%;
  top: 80px;
  color: white;
}

.sidebar_menu .menu li {
  margin-top: 6px;
  padding: 14px 20px  ;
}

.sidebar_menu .menu i,a{
  color: white;
  text-decoration: none;
  font-size: 20px;

}

.sidebar_menu .menu i{
  padding-right: 8px;

}
.sidebar_menu .social_media{
  color: white;
  opacity: 0.6;
  width: 100%;
  position: absolute;
  font-size: 15px;
  left: 65px;
  bottom: 25px;
  
}
.sidebar_menu .social_media i {
  padding: 8px;
  left: -15px;
}
#check{
  display: none;
   /* to remove something from the screen */
}